html {
    background-color: black;
}

body {
    margin-left: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.startDiv {
    display: flex;
}

#nick {
    border-radius: 0;
    width: 70%;
}

#start {
    border-radius: 0;
    width: 30%;
}

.main-wrap {
    min-height: 60vh;
}

.main {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.game {
    margin: auto;
    cursor: pointer;
    visibility: hidden;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

.gameMessage {
    text-align: center;
}

.rows {
    margin: 0 auto;
    padding: 0;
}

.col {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration: none;
    width: 100px;
    height: 100px;
    background: black;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
    color: white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.highscore th {
    text-align: center;
}

.site-footer {
    text-align: center;
    padding: 2.5em;
    border-top: 1px solid #ccc;
    background-color: black;
    color: #fff;
}

.site-footer a {
    color: #fff;
}

.col:hover {
    background-color: grey;
}

.disableBoard {
    pointer-events: none;
}

.disableSquare {
    pointer-events: none;
}
